<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- 通常，一个session-factory节点代表一个数据库 -->
    <session-factory>

        <!-- 1. 数据库连接配置 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://47.95.198.1:3306/sclience_survey</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">186000</property>
        <!-- Hibernate的session管理：自动管理："jta", "thread", and "managed". -->
        <!-- 默认为：org.springframework.orm.hibernate4.SpringSessionContext-->
        <!-- 默认时，除了手动管理，还可以交给Spring管理事务和关闭session（aop配置或注解实现） -->
        <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>
        <!--            数据库方法配置， hibernate在运行的时候，会根据不同的方言生成符合当前数据库语法的sql         -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- 运行时是否打印 SQL -->
        <property name="show_sql">true</property>

        <!-- 运行时是否格式化 SQL -->
        <property name="format_sql">true</property>

        <!-- 生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 设置 Hibernate 的事务隔离级别 -->
        <property name="connection.isolation">2</property>

        <!-- 删除对象后, 使其 OID 置为 null -->
        <property name="use_identifier_rollback">true</property>

        <!-- 配置 C3P0 数据源 -->
        <!--<property name="hibernate.c3p0.max_size">10</property>-->
        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="c3p0.acquire_increment">2</property>-->

        <!--<property name="c3p0.idle_test_period">2000</property>-->
        <!--<property name="c3p0.timeout">2000</property>-->

        <!--<property name="c3p0.max_statements">10</property>-->

        <!-- 设定 JDBC 的 Statement 读取数据的时候每次从数据库中取出的记录条数 -->
        <property name="hibernate.jdbc.fetch_size">100</property>

        <!-- 设定对数据库进行批量删除，批量更新和批量插入的时候的批次大小 -->
        <property name="jdbc.batch_size">30</property>

        <!-- 需要关联的 hibernate 映射文件 .hbm.xml -->
        <!--<mapping resource="com/sclience/survey/common/User.hbm.xml"/>-->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->


        <!--实体类的位置-->
        <mapping class="com.sclience.survey.common.base.entity.User"/>
        <mapping class="com.sclience.survey.common.base.entity.Tracker"/>
        <mapping class="com.sclience.survey.common.base.entity.Permission"/>
        <mapping class="com.sclience.survey.common.base.entity.Role"/>

    </session-factory>
</hibernate-configuration>